<%- include("includes/header") %>
<%- include("includes/sidebar") %>

<div class="container">
  <nav class="home-navbar">
    <ul>
      <li>
        <a id="home-selector" class="active" href="/">Home</a>
      </li>
      <li>
        <a id="home-selector" href="/thoughts">Thoughts</a>
      </li>
      <li>
        <a id="home-selector" href="/ponders">Ponders</a>
      </li>
    </ul>
  </nav>
  <section class="home-combine">
    <div class="home-grid-item">
      <ul>
        <% thoughts.forEach(thought => { %>
          <li class="home-thoughts-ponders">
            <a href="/thoughts/<%= thought.id %>">
              <p><%= thought.content %></p>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
    <div class="home-grid-item">
      <ul>
        <% ponders.forEach(ponder => { %>
          <li class="home-thoughts-ponders">
            <a href="/ponders/<%= ponder.id %>">
              <h4><%= ponder.title %></h4>
              <p><%= ponder.content %></p>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </section>
</div>

<%- include("includes/footer") %>