<%- include("../includes/header") %>
<%- include("../includes/sidebar") %>

<div class="container">
  <nav class="home-navbar">
    <ul>
      <li>
        <a id="home-selector" href="/">Home</a>
      </li>
      <li>
        <a id="home-selector" class="active" href="/thoughts">Thoughts</a>
      </li>
      <li>
        <a id="home-selector" href="/ponders">Ponders</a>
      </li>
    </ul>
  </nav>

  <button id="newthought-form-opener" class="newthought-form-opener">New thought</button>
  <section id="new-thought-section" class="new-thought-section no-show">
    <form action="/thoughts" method="post">
      <textarea name="content" id="content" cols="30" rows="5" placeholder="Thought's content..." required></textarea>
      <br />
      <input type="submit" class="send-thought" value="Post thought">
    </form>
  </section>

  <section>
    <div>
      <ul>
        <% thoughts.forEach(thought => { %>
          <li class="home-thoughts-ponders">
            <a href="/thoughts/<%= thought.slug %>">
              <p><%= thought.content %></p>
              <small><em>By: <%= thought.user.nickname %></em></small>
            </a>
            <% if (userId === thought.user.id) { %>
              <form action="/thoughts/<%= thought.slug %>?_method=DELETE" method="post" class="delete-button">
                <input type="submit" value="Delete thought">
              </form>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </div>
  </section>
</div>

<%- include("../includes/footer") %>
