<!--
<form action="/ponders" method="post">
  <input type="text" name="title" id="title" placeholder="Ponder's title..." required>
  <br />
  <textarea name="content" id="content" placeholder="Ponder's body..." required></textarea>
  <br />
  <input type="submit" value="Post ponder">
</form> -->

<%- include("../includes/header") %>
<%- include("../includes/sidebar") %>

<div class="container">
  <nav class="home-navbar">
    <ul>
      <li>
        <a id="home-selector" href="/">Home</a>
      </li>
      <li>
        <a id="home-selector" href="/thoughts">Thoughts</a>
      </li>
      <li>
        <a id="home-selector" class="active" href="/ponders">Ponders</a>
      </li>
    </ul>
  </nav>

  <button id="newthought-form-opener" class="newthought-form-opener">New ponder</button>
  <section id="new-ponder-section" class="new-thought-section no-show">
    <form action="/thoughts" method="post">
      <input type="text" name="title" id="title" placeholder="Ponder's title..." required>
      <br />
      <textarea name="content" id="content" cols="30" rows="5" placeholder="Ponder's body..." required></textarea>
      <br />
      <input type="submit" class="send-thought" value="Post ponder">
    </form>
  </section>

  <section>
    <div>
      <ul>
        <% ponders.forEach(ponder => { %>
          <li class="home-thoughts-ponders">
            <a href="/ponders/<%= ponder.id %>">
              <h3><%= ponder.title %></h3>
              <p><%= ponder.content %></p>
              <small><em>By: <%= ponder.user.nickname %></em></small>
            </a>
            <% if (ponder.user.id === userId) { %>
              <form action="/ponders/<%= ponder.id %>?_method=DELETE" method="post" class="delete-button">
                <input type="submit" value="Delete ponder">
              </form>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </div>
  </section>
</div>

<%- include("../includes/footer") %>