<%- include("../includes/header") %>
<%- include("../includes/sidebar") %>

<div class="container">
  <div class="thought-detail ponder-detail">
    <h2><%= ponder.title %></h2>
    <p><%= ponder.content %></p>
    <div class="detail-footer">
      <small class="author"><em>
        By: <a href="/users/<%= ponder.user.nickname %>"><%= ponder.user.nickname %></a>
      </em></small>
      <small>Pondered <%= ponderCreatedAt %></small>
    </div>
  </div>

  <% if (userId === ponder.user.id) { %>
    <form action="/ponders/<%= ponder.slug %>?_method=DELETE" method="post" class="thought-detail-delete-button">
      <input type="submit" value="Delete ponder">
    </form>
  <% } %>

  <hr />

  <section class="thought-likes">
    <% let userLike = false; %>
    <% let likeId = null; %>
    <% likes.forEach(like => { %>
      <% if (like.userId === userId) { %>
        <% userLike = true; %>
        <% likeId = like.id; %>
      <% } %>      
    <% }) %>

    <% if (userLike) { %>
      <i class="fas fa-heart" data-page-name="ponders" data-thought-id="<%= ponder.slug %>" data-like-id="<%= likeId %>" id="fa-heart"></i>
      <small>You liked it</small>
    <% } else { %>
      <i class="far fa-heart" data-page-name="ponders" data-thought-id="<%= ponder.slug %>" id="fa-heart"></i>
    <% } %>
    <br />
    <span>Likes (<%= likes.length %>)</span>
  </section>

  <section class="thought-comments">
    <span>Comments (<%= comments.length %>)</span>
    <div class="comments-list">
      <% for(let i = 0; i < comments.length; i++) { %>
        <div class="each-comment">
          <p>
            <a href="/users/<%= comments[i].user.nickname %>"><strong><%= comments[i].user.name %></strong></a>: <%= comments[i].content %> - <%= commentsCreatedAt[i] %>
          </p>
          <% if (comments[i].user.id === userId) { %>
            <form action="/ponders/<%= ponder.slug %>/comment/<%= comments[i].id %>?_method=DELETE" method="post" class="delete-comment-button">
              <input type="hidden" name="comment_id" value="<%= comments[i].id %>">
              <input type="submit" value="Delete comment">
            </form>
          <% } %>
        </div>
      <% } %>
    </div>
  </section>

  <section class="make-comment">
    <form action="/ponders/<%= ponder.slug %>" method="post">
      <input type="text" class="comment-input" name="comment_input" id="comment_input" placeholder="Write a comment..." required>
      <input type="submit" class="comment-post-button" value="Post comment">
    </form>
  </section>

</div>

<%- include("../includes/footer") %>